<aside class="menu">
  <div class="container">
    <p class="menu-label">Navigation</p>
    <ul class="menu-list">
      <li><a>Dashboard</a></li>
      <li><a>Stocks</a></li>
      <li><a>Settings</a></li>
    </ul>
  </div>

  <hr class="new1"/>
  <div class="container">
     
    <div class="notification">
      <label class="menu-label ">Sector</label>
      <div class="select is-small is-fullwidth">
        <select title="dropdown is-fullwidth"  (change)="changeSector($event)">
          <option value="">All</option>
          <option *ngFor="let item of sector" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>

    <div class="notification">
      <label class="menu-label ">Industry</label>
      <div class="select is-small is-fullwidth">
        <select title="dropdown is-fullwidth"  (change)="changeIndustry($event)">
          <option value="">All</option>
          <option *ngFor="let item of industry" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>

  </div>


  <div class="container">
    <div class="notification">
    
      <div class="count-filter control is-small ">
        <label class="menu-label radio">Market Cap</label>
        <div class="input-group is-fullwidth ">
          <input
          class="input num-input is-small"
          type="number"
          min="0"
          placeholder="MIN"
        /> - 
        <input
          class="input num-input is-small"
          type="number"
          min="0"
          placeholder="MAX"
        />
      </div>
      <button class=" button apply-button is-info is-small is-fullwidth">Apply</button>
      </div>
      
      

      <div class="count-filter control is-small ">
        <label class="menu-label radio">PRICE</label>
        <div class="input-group is-fullwidth ">
          <input
          class="input num-input is-small"
          type="number"
          placeholder="MIN"
        /> - 
        <input
          class="input num-input is-small"
          type="number"
          placeholder="MAX"
        />
      </div>
      <button class=" button apply-button is-info is-small is-fullwidth">Apply</button>
      </div>
      
      

      <div class="count-filter control is-small ">
        <label class="menu-label radio">Dividend rate</label>
        <div class="input-group is-fullwidth ">
          <input
          class="input num-input is-small"
          type="number"
          placeholder="MIN"
        /> - 
        <input
          class="input num-input is-small"
          type="number"
          placeholder="MAX"
        />
      </div>
      <button class=" button apply-button is-info is-small is-fullwidth">Apply</button>
      </div>
      
      
    </div>
  </div>
</aside>
