// .fixed-grid {
//     display: flex;
//     flex-direction: column;
//   }

//   .field {
//     display: flex;
//     flex-direction: column;
//   }
  
  .radio-group{
    // margin-left: 0;
    padding-left: 0;
  }
//   .radio-group {
//     display: grid;
//     grid-template-columns: 1fr;
//     gap: 0.5em; /* Adjust the gap between radio buttons as needed */
//   }
  
//   .field {
//     display: flex;
//     align-items: center;
//   }

.notification{
    border-color: var(--monkey-primary-01);
}

.container{
    border-color: var(--monkey-primary-01);
    margin-bottom: 1rem;
}

