.tes{
    display: flex;
    flex-direction: column;
}

.truncated{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

// .no-underline{
//     text-decoration: none;
// }
// .is-size-7.has-text-info {
//     text-decoration: none;
//   }

