<section
  class="hero is-small has-background-primary-50"
>
  <div
    class="columns "
  >
    <img class="column  img" src="../../../../assets/Layer 2.png" alt="tes" />
    <div class="hero-body column">
      <p class="title has-text-primary-00 is-2">About Us</p>
      <p class="subtitle is-6 has-text-primary-00">
        Welcome to our platform, where the world of Indonesian stocks is brought
        to your fingertips in a way you’ve never seen before. This website is
        designed to help you make informed investment decisions by providing
        comprehensive insights into stocks listed on the Indonesian Stock
        Exchange (IDX).
      </p>
    </div>
  </div>
</section>
<div class="container about-us-content is-fluid">
  <div class="fixed-grid has-5-cols">
    <div class="grid">
      <div class="cell is-col-span-2 is-row-start-1">
        <div class="container about-us-title pr-6 pl-6">
          <h1 class="title is-2">Our Mission</h1>

          <!-- <img src="../../../../assets/TES3.png" alt="migraine" /> -->
        </div>
      </div>
      <div class="cell is-col-span-3 is-row-start-1">
        <div class="container left-border about-us-content-right">
          <p class="is-size-6">
            Our mission is to simplify the complex world of stock analysis by
            gathering, combining, and presenting data in a way that allows you
            to easily compare different stocks across the same sector or
            industry. Unlike many other platforms that focus on analyzing
            individual stocks in isolation, we provide a broader perspective by
            comparing multiple stocks side by side using key financial metrics.
          </p>
        </div>
      </div>

      <div class="cell is-col-span-3 is-row-start-2">
        <div class="container right-border">
          <p class="is-size-6">
            We scrape real-time data from the IDX and merge it with information
            from Yahoo Finance to deliver a robust set of analytical tools. Our
            platform offers simple yet powerful analyses that let you compare
            stocks based on essential financial metrics like Book Value,
            Price-to-Earnings Ratio (PE), Earnings Per Share (EPS), Revenue, and
            more. To visualize these comparisons, we provide a variety of
            charts, including histograms, line charts, column charts, and pie
            charts. These tools help you understand how a stock performs not
            just in isolation but in relation to its peers, giving you a clearer
            picture of its potential.
          </p>
        </div>
      </div>
      <div class="cell is-col-span-2 is-row-start-2">
        <div class="container pr-6 pl-6 about-us-title">
          <h1 class="title is-2">What We Do</h1>
        </div>
      </div>

      <div class="cell is-col-span-2 is-row-start-3">
        <div class="container pr-6 pl-6 about-us-title">
          <h1 class="title is-2">Who We Are</h1>
        </div>
      </div>
      <div class="cell is-col-span-3 is-row-start-3">
        <div class="container left-border about-us-content-left">
          <p class="is-size-6">
            This platform is the brainchild of Jopi Adrianto Doloksaribu, a
            passionate individual who single-handedly created and continues to
            maintain the site. With a background in technology and finance, Jopi
            built the backend using microservices in Flask and crafted the
            user-friendly frontend with Angular.
          </p>
        </div>
      </div>
      <div class="cell is-col-span-3 is-row-start-4">
        <div class="container right-border">
          <p class="is-size-6">
            We aim to empower investors by providing them with the tools they
            need to make better, data-driven decisions. Whether you're a
            seasoned investor or just starting, our platform is designed to give
            you the insights you need to navigate the stock market with
            confidence. Thank you for choosing our platform as your go-to
            resource for stock analysis. We’re here to help you invest smarter,
            not harder.
          </p>
        </div>
      </div>
      <div class="cell is-col-span-2 is-row-start-4">
        <div class="container pr-6 pl-6 about-us-title">
          <h1 class="title is-2">Our Vision</h1>
        </div>
      </div>
    </div>
  </div>
</div>
