<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <!-- @defer (on hover) { -->
    <!-- <a class="pagination-previous hovered-class" (mouseleave)="!isHovered" [ngStyle]="isHovered ? {'background-color': 'lightblue', 'color': 'white'} : {}" (click)="previousPage()" >Previous</a> -->
  <!-- } @placeholder { -->
    <a class="pagination-previous" (click)="previousPage()" >Previous</a>
  <!-- } -->
  <a class="pagination-next" (click)="nextPage()" (mouseenter)="!isHovered"  [ngStyle]="isHovered ? {'background-color': 'lightblue', 'color': 'white'} : {}">Next page</a>
  <ul class="pagination-list">
    <li [hidden]="currentPage <= 2" >
      <a href="#" class="pagination-link" (click)="changePage(1)" aria-label="Goto page 1">1</a>
    </li>
    <li [hidden]="currentPage <= 3">
      <span class="pagination-ellipsis">&hellip;</span>
    </li>

    <li *ngFor="let page of pagesToShow">
      <a
        href="#"
        [ngClass]="{
          'is-current': page === currentPage,
          'pagination-link': true
        }"
        (click)="changePage(page)"
        aria-label="Goto page 45"
        >{{ page }}</a
      >
    </li>
    <li
      [hidden]="!(currentPage < totalPage - 1) || currentPage == totalPage - 2"
    >
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li [hidden]="!(currentPage < totalPage - 1)">
      <a
        (click)="changePage(totalPage)"
        class="pagination-link"
        aria-label="Last Page"
        >{{ totalPage }}</a
      >
    </li>
  </ul>

  <div class="select">
    <select title="per-page" (change)="changeLimit($event)">
      <option value="12">12</option>
      <option value="24">24</option>
      <option value="72">72</option>
      <option value="120">120</option>
      <option value="{{total}}">All</option>
    </select>
  </div>
</nav>
