<div class="container is-fluid">
    <div class="header">
        <section class="section">
            <h1 class="title">Section</h1>
            <h2 class="subtitle">
              A simple container to divide your page into <strong>sections</strong>, like
              the one you're currently reading.
            </h2>
        </section>
    </div>
    <div class="columns">
        <div class="column is-2">
            <aside class="menu">
                <p class="menu-label">
                  Navigation
                </p>
            <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li><a>Stocks</a></li>
                <li><a>Settings</a></li>
              </ul>
            </aside>
        </div>
        <div class="column is-10">
            <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Total Stocks</p>
                    <p class="title">932</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Stocks</p>
                    <p class="title">123</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Sector</p>
                    <p class="title">Energy</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Listing Board</p>
                    <p class="title">Utama</p>
                  </div>
                </div>
              </nav>
            <section class="section">
                <h1 class="title">Section</h1>
                <h2 class="subtitle">
                  A simple container to divide your page into <strong>sections</strong>, like
                  the one you're currently reading.
                </h2>
            </section>
            <div class="fixed-grid has-3-cols">
                <div class="grid">
                    <div class="card">
                        <div class="card-content">
                          <p class="title">
                            Placeholder for stock info
                          </p>
                          <p class="subtitle">BBCA.JK</p>
                        </div>
                        <footer class="card-footer">
                          <p class="card-footer-item">
                            <span>
                              To Be Own
                              <a href="https://twitter.com/codinghorror/status/506010907021828096"
                                >Add</a
                              >
                            </span>
                          </p>
                          <p class="card-footer-item">
                            <span> Owned <a href="#">Delete</a> </span>
                          </p>
                        </footer>
                      </div>
                      <div class="card">
                        <div class="card-content">
                          <p class="title">
                            Placeholder for stock info
                          </p>
                          <p class="subtitle">BBCA.JK</p>
                        </div>
                        <footer class="card-footer">
                          <p class="card-footer-item">
                            <span>
                              To Be Own
                              <a href="https://twitter.com/codinghorror/status/506010907021828096"
                                >Add</a
                              >
                            </span>
                          </p>
                          <p class="card-footer-item">
                            <span> Owned <a href="#">Delete</a> </span>
                          </p>
                        </footer>
                      </div>
                                        <div class="cell">cell 3</div>
                    <div class="cell">cell 4</div>
                    <div class="cell">cell 5</div>
                    <div class="cell">cell 6</div>
                </div>
            </div>
            <section class="section">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a href="#" class="pagination-previous">Previous</a>
                    <a href="#" class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                      <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a href="#" class="pagination-link" aria-label="Goto page 45">45</a></li>
                      <li>
                        <a
                          class="pagination-link is-current"
                          aria-label="Page 46"
                          aria-current="page"
                          >46</a
                        >
                      </li>
                      <li><a href="#" class="pagination-link" aria-label="Goto page 47">47</a></li>
                      <li><span class="pagination-ellipsis">&hellip;</span></li>
                      <li><a href="#" class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                  </nav>
            </section>
            
        </div>
        
    <!-- </div>
    <div class="main-container"> -->
        <!-- <div class="side-nav"></div> -->
         <!-- <app-side-nav></app-side-nav> -->
        <!-- <div class="main"> -->
            <!-- <ul>
                <li *ngFor="let item of data.data">{{ item | json}}</li>
            </ul> -->
            <!-- <pre>{{data.data | json}}</pre>
        </div>
    </div> -->

</div>


