.additional{
    margin-left:3rem;
}

.notification-not-found{
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    height: 10rem;
    width: 32rem;
    box-sizing: border-box; 
}

.set{
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;    
}
