.container {
    margin-top: 9rem;
    margin-bottom: 9rem;
  //   padding-bottom: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: 40rem;
  }
  