<div class="fixed-grid notification has-5-cols">
  <div class="grid column is-column-gap-4">
    <div class="cell is-col-span-3 is-row-span-5">
      <div class="card">
        <div class="card-image">
          <figure class="image is-5by3">
            <img [src]="resolution?.url" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a class="title is-4 no-underline" [href]="mainNews.link">{{
                mainNews.title
              }}</a>

              <p class="subtitle is-6 has-text-info">
                {{ mainNews.publisher }}@for (item of mainRelatedTickers; track
                $index) {
                <span class="tag is-space-2 is-normal is-primary is-5">{{
                  item
                }}</span>
                }
              </p>
            </div>
          </div>

          <!-- <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris. <a>bulmaio</a>. <a href="#">#css</a>
                <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div> -->
        </div>
      </div>
    </div>
    <ng-container>
      <div class="cell is-col-span-2">
        <a class="title is-6 no-underline" [href]="allNews[0].link">{{
          allNews[0].title
        }}</a>

        <p class="subtitle is-6 has-text-info">
          {{ allNews[0].publisher }} @for (item of allNews[0].relatedTickers;
          track $index) {
          <span class="tag is-normal is-primary is-5">{{ item }}</span>
          }
        </p>

        <hr class="new1" />
      </div>

      <div class="cell is-col-span-2">
        <a class="title is-6 no-underline" [href]="allNews[1].link">{{
          allNews[1].title
        }}</a>
        <p class="subtitle is-6 has-text-info">
          {{ allNews[1].publisher }} @for (item of allNews[1].relatedTickers;
          track $index) {
          <span class="tag is-normal is-primary is-5">{{ item }}</span>
          }
        </p>
        <hr class="new1" />
      </div>

      <div class="cell is-col-span-2">
        <a class="title is-6 no-underline" [href]="allNews[2].link">{{
          allNews[2].title
        }}</a>
        <p class="subtitle is-6 has-text-info">
          {{ allNews[2].publisher }} @for (item of allNews[2].relatedTickers;
          track $index) {
          <span class="tag is-normal is-primary is-5">{{ item }}</span>
          }
        </p>
        <hr class="new1" />
      </div>

      <div class="cell is-col-span-2">
        <a class="title is-6 no-underline" [href]="allNews[3].link">{{
          allNews[3].title
        }}</a>
        <p class="subtitle is-6 has-text-info">
          {{ allNews[3].publisher }} @for (item of allNews[3].relatedTickers;
          track $index) {
          <span class="tag is-normal is-primary is-5">{{ item }}</span>
          }
        </p>
        <hr class="new1" />
      </div>

      <div class="cell is-col-span-2">
        <a class="title is-6 no-underline" [href]="allNews[4].link">{{
          allNews[4].title
        }}</a>
        <p class="subtitle is-6 has-text-info">
          {{ allNews[4].publisher }} @for (item of allNews[4].relatedTickers;
          track $index) {
          <span class="tag is-normal is-primary is-5">{{ item }}</span>
          }
        </p>
      </div>
    </ng-container>
  </div>

  <ng-container
    *ngTemplateOutlet="
      newsTemplate || defaultNewsTemplate;
      context: { $implicit: allNews }
    "
  >
  </ng-container>
</div>

<ng-container *ngIf="showAdditionalSection">

<div class="fixed-grid has-2-cols">
  <div class="grid tes is-column-gap">
    <div class="cell tes2" *ngFor="let item of slicedNews">
      <div class="columns tes3 is-7">
        <div class="column is-one-quarter">
          <figure class="image-frame">
            <img
              [src]="
                getImgForItem(item)[0]?.url ||
                'https://via.placeholder.com/140x140?text=No+Image'
              "
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="column title-news">
          <a
            class="title is-6"
            [href]="item.link"
          >
            {{ item.title }}
          </a>
          <p class="subtitle is-6 has-text-info">
            {{ item.publisher }}
            <ng-container *ngFor="let ticker of item.relatedTickers">
              <span class="tag is-normal is-primary is-5">{{ ticker }}</span>
            </ng-container>
          </p>
          <hr class="new1" />
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

<ng-template #defaultNewsTemplate>
  <div></div>
</ng-template>

<ng-template #newsTemplate> </ng-template>
