<div class="container is-fluid">
  <div class="fixed-grid has-5-cols  ">
    <div class="grid">
        <div class="notification has-text-centered	cell is-col-span-5  ">
            <h1 class="title is-align-self-center ">Dashboard Histogram</h1>
        </div>
        <div class="cell is-row-span-3">
            <app-side-nav></app-side-nav>
        </div>
        <div class="cell is-col-span-4">
            <app-histogram-analysis></app-histogram-analysis>
        </div>
    </div>
  </div> 
</div>
